body {
  background:url(/images/pexels-asad-photo-maldives-1320674.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed; 
  background-size: cover;      
  background-position:50% 50%;
	padding-top: 10px;
}

/* 隐藏上方黑线 */
.headband {
	height: 0px;
}

/* 博客内容透明化
 文章内容的透明度设置 */
.content-wrap, .main-inner, .sidebar, .popup {
  opacity: 0.85;
}

/* 菜单栏的透明度设置 */
.header-inner {
  background: rgba(255,255,255,0.85);
}
